---
import { BooksItem } from "@components/cards";
import { Header } from "@components/misc";
import { BaseHead } from "@components/seo";
import { SITE_DESCRIPTION, SITE_TITLE } from "@data/index";
import { getCollection } from "astro:content";
import RootLayout from "@layouts/root-layout.astro";

const books = (await getCollection("books")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      image="/images/ogimage.png"
    />
  </head>
  <RootLayout>
    <div id="navbar+title" class="flex flex-col w-full gap-6 max-w-xl">
      <Header />
      <h1 class="w-full text-7xl font-medium tracking-tight mb-6">thoughts</h1>

      {
        books.map((book, i) => (
          <BooksItem
            category={book.data.category}
            content={book.data.description}
            pubDate={book.data.pubDate}
            slug={book.slug}
            index={i}
          />
        ))
      }
    </div>
  </RootLayout>
</html>
